* {
    font-family: Georgia, serif;
}
.header {
    margin-bottom: 30px;
}
.form-label {
    margin-bottom: 0;
}
.form-control {
    margin-bottom: 20px;
}
.table thead th {
    border-bottom: 2px solid #dee2e6;
}
.table tbody tr {
    border-bottom: 1px solid #dee2e6;
}
.edit-delete-btns {
    display: flex;
    gap: 10px;
}